/**Fuente de todo el documento*/
* {
    font-family: 'Montserrat', sans-serif;
    color: black;    
}

/**Estilo imagen*/
img {
    float: left;
    width: 15%;
    border-color: #3c3c3c;
    border-style: solid;
    border-width: 10px;
    border-radius: 50px;
  }

/**Estilo grid*/
.item1 { grid-area: header; }
.item2 { grid-area: menu;
        text-align: center; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }
.item5 { grid-area: main; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu menu right right right right'
    'menu menu footer footer footer footer'
    'menu menu main main main main';
    gap: 20px;
    padding: 10px;
    margin: 20px;
}

.grid-container > div {
    padding: 10px 0;
    border-radius: 25px;
}

/**Estilo caja de titulos con iconos*/
i {
    font-size: 36px;
    color: #3c3c3c;
}

/**Estilo caja de titulos*/
#mi_caja {
    background-color: #d9d9d9;
    padding: 5px 30px 5px;
    border-radius: 5px; 
}

/**Estilo boton*/
button {
    background-color: #889cf5;
    font-size: 12px;
    border-radius: 5px;
}